*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height:100%;
    width:100%;
}
.carousel {
    padding: 20px;
    overflow: hidden;
   
  }
  .page{

    height:400px;
    width:100%;
 
  }
  .slide{
    position: relative;

  }
